.musicList{
  display: flex;
  flex-direction: column;
  height: 100%;
  .header{
    display: flex;
    justify-content: space-between;
    .input{
      width: 200px;
    }
    .player{

    }
  }
  .table{
    height: 100%;
  }
}