.main {
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    .container {
        background: #ffffff11;
        position: relative;
        .control {
            position: absolute;
            top: 0;
            //bottom: 0;
            left: 0;
            width: 100%;
        }
        
        .canvas {
            height: 100%;
            width: 100%;
            padding-top: 60px;
            box-sizing: border-box;
        }
    }
}