body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div::-webkit-scrollbar, body::-webkit-scrollbar, ul::-webkit-scrollbar{
  width: 8px;
  height: 8px;
}
div::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb, ul::-webkit-scrollbar-thumb{
  background: rgba(153,153,153,0.6);
  border-radius: 20px;
  right: -100px;
}
div::-webkit-scrollbar-track, body::-webkit-scrollbar-track, ul::-webkit-scrollbar-track{
  background: #141414;
  border-radius: 20px;
}

.flexColumn{
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.link{
  cursor: pointer;
  color: #e5ce00;
}

.link:hover{
  opacity: 0.65;
}